.ikonli-font-icon {
    -fx-icon-color: #FFFFFF;
}

.viewport-label {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.mug-editor-tab-pane-content, .mug-details-view-content {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.title-label {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.top-toolbar {
    -fx-background-color: rgba(0, 0, 0, 0.9);
}

.mug-grid .viewport-box {
    -fx-border-color: #424242;
}

.persistence-unsaved-label {
    -fx-background-color: #3f403f;
}

.persistence-unsaved-changes-label {
    -fx-background-color: #828207;
}

.persistence-saved-label {
    -fx-background-color: #0bbd43;
}

.mug-details-view-content .mug-detail-value {
  -fx-background-color: #403f3c;
}