.ikonli-font-icon {
    -fx-icon-color: #FFFFFF;
}

.viewport-label {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.mug-editor-tab-pane-content, .mug-details-view-content {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.title-label {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.top-toolbar {
    -fx-background-color: rgba(0, 0, 0, 0.9);
}

.mug-grid .viewport-box {
    -fx-border-color: #424242;
}