.ikonli-font-icon {
    -fx-icon-color: #000000;
}

.viewport-label {
    -fx-background-color: rgba(0, 0, 0, 0.2);
}

.mug-editor-tab-pane-content, .mug-details-view-content {
    -fx-background-color: rgba(0, 0, 0, 0.05);
}

.title-label {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.top-toolbar {
   -fx-background-color: rgba(0, 0, 0, 0.2);
}

.mug-grid .viewport-box {
    -fx-border-color: #b5b4b1;
}

.toggle-button:selected .ikonli-font-icon {
    -fx-icon-color: #FFFFFF;
}