.root * {
    -mdfx-font-color: white;
    -mdfx-border-color-1: #888;

    -mdfx-bg-color-1: #484848;
    -mdfx-bg-color-2: #3c3c3c;
    -mdfx-bg-color-3: #303030;

    -mdfx-link-color: #0e80d4;

    -mdfx-bq-color-border: #4f91d7;
    -mdfx-bq-color-background: rgba(231, 231, 231, 0.05);
    -fx-text-alignment: justify;
}

.root {
    -fx-padding: 5px 10px;
}

.markdown-normal-flow.markdown-normal-flow {
   -fx-padding: 1px 10px;
}

.markdown-code {
    -fx-background-color: #403f3c;
    -fx-background-radius: 5px;
}