.root {
    -fx-background-color: transparent;
    -fx-font-size: 1.1em;
}

.viewport-label {
    -fx-padding: 0 10px;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-size: 1.5em;
}

.title-label {
    -fx-font-weight: bold;
    -fx-font-size: 1.2em;
    -fx-padding: 5;
}

.persistence-label {
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 3px 5px;
    -fx-font-weight: bolder;
}

.mug-editor-tab-pane-content > *, .mug-details-view-content > *{
    -fx-font-size: 1.15em;
}

.mug-grid .viewport-box {
    -fx-border-width: 0.5px;
}

.mug-details-view-content .mug-detail-value {
  -fx-padding: 2px;
  -fx-background-radius: 5px;
}