.root {
    -fx-background-color: transparent;
}

.viewport-label {
    -fx-padding: 0 10px;
    -fx-background-color: rgba(0, 0, 0, 0.4);
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-size: 2em;
}

.title-label {
    -fx-font-weight: bold;
    -fx-font-size: 1.3em;
    -fx-padding: 5;
}

.mug-editor-tab-pane-content > *, .mug-details-view-content > *{
    -fx-font-size: 1.2em;
}